/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$white: #FFFFFF;
$blue: #0C1B38;
$brown: #DBAB61;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin animation($str) {
	-webkit-animation: $str;
	-moz-animation: $str;
	-ms-animation: $str;
	-o-animation: $str;
	animation: $str;
}
@mixin filter($str) {
	-webkit-filter: $str;
	-moz-filter: $str;
	-ms-filter: $str;
	-o-filter: $str;
	filter: $str;
}

@mixin transition($str) {
	-webkit-transition: $str;
	-moz-transition: $str;
	-ms-transition: $str;
	-o-transition: $str;
	transition: $str;
}

@mixin transform($str) {
	-webkit-transform: $str;
	-moz-transform: $str;
	-ms-transform: $str;
	-o-transform: $str;
	transform: $str;
}

a { text-decoration: none; color: #000000;}

body {font-family: 'Roboto', sans-serif; margin: 0; padding: 0;}

.clear { clear:both;}

.nav { 
	width: calc(100% - 40px);
	padding: 20px;
	text-align: center;
	position: absolute;
	/*background: rgba(255,255,255,.1);
	*/
	color: #FFFFFF;
	li { display: inline; padding: 6px 15px; margin: 0px 11px; background: #5E9666; @include border-radius(4px); color: #FFFFFF;   border: 1px solid #5B9062; }
}
@media screen and(max-width: 800px){
	.nav {
		 position: static; background: #5E9666;
		 li { display: block;width: 200px; margin: 5px auto;}
		 .top-side-logo { float: none !important;}
	}
}
.hero { 
	height: 100vh; width: 100%; background: #6AA372; background-size: 100% auto; text-align: center;
	.content {
		padding-top: 100px;
		h3 { color: #FFFFFF; font-size: 25px; padding: 50px 0px;}
		.down-arrow { display: block; margin: 0 auto; padding: 30px 0px; width: 100px;}
	}
	.left-links { 
		display: none;
		float: left; background: transparent; position: absolute; top: 200px; left: 20px;
		a { display: block; background: rgba(113, 219, 192, 0.2); color: #FFFFFF; padding: 20px; margin: 5px; border: 1px dotted rgb(85, 170, 148);}
	}
}

.news-feed { 
	display: none;
	height: 80px;
	background: #465A50;
	text-align: center;
	font-size: 30px;
	overflow: hidden;
	ul {
		@include animation(animatednews 8s linear infinite);
		li { margin: 100px 0px; color: #FFFFFF; font-weight: bold;}

	}
}
.proshow {
	background: #FFFFFF;
	text-align: center;   border-bottom: 1px solid #F2F2F2; padding-bottom: 70px;	
	h3 {font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b; padding-top: 100px;}
  	img {   width: 300px; margin-left: 10%; margin-top: 50px; border-radius: 7px;}
  	.description { 
  		display: inline-block; text-align: left; width: 50%; vertical-align: top; margin: 100px 50px 50px 50px;
  		h4 {   font-size: 24px; padding: 20px 0px;}
  		h6 { line-height: 1.5; color: #545454; }
  	}
}

.gallery {
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 56px;
  line-height: 1.14286;
  letter-spacing: -0.005em;
  word-spacing: -0.005em;
  font-weight: 700;
  background:#6AA372;
  text-align: center;
  padding-bottom: 100px;
  color: #FFFFFF;
  h3 { font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #FFFFFF; padding-top: 100px;}
  .grid {
  	margin-top: 100px; 
  	
  	.column {
  	 width: calc(25% - 20px); padding: 10px; float: left; position: relative;
  	 .cnt { background: #F2F2F0; width: 90%; @include border-radius(10px); height: 250px; margin: 0 auto;}
  	 .overlay {  display: none; position: absolute; width: 100%; color: #FFFFFF; font-size: 20px; line-height: 10;  text-align: center; height: 100%; top: 0; left: 0; z-index: 10;}
  	}

  }
}

@media screen and(max-width: 900px) {
	.gallery .grid .column { width: calc(50% - 20px);}
}


@media screen and(max-width: 700px) {
	.gallery .grid .column { width: calc(100% - 20px);}
}

.contact-us {
	background: #FFFFFF;
	width: 100%;
	text-align: center;
	h1 { font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif; color: #2B2B2B; padding-top: 100px;}
	h5 { color: #2B2B2B; }
	img { height: 400px; margin-top: 40px; box-shadow: 0px 0px 1px #969292;}
}
@media screen and(max-width: 1000px) {
	.grid .columns { width: 50% !important;}
	.contact-us img { width: 90%; height: auto;}
}
@media screen and(max-width: 500px) {
	.grid .columns { width: 100% !important;}
}

@-webkit-keyframes animatednews{
	from { margin-top: -50px; }
	to { margin-top: -500px; }
}

@media screen and(max-width: 500px) {
	.hero {
		.logo { width: 70%;}
		.down-arrow { width: 20%;}
	}
}

@media screen and(max-width: 400px) {
	.proshow h3, .gallery h3,.contact-us h1  { font-size: 60px;}
	.social a { display: block;}
}

footer { 
	 width: 100%; background: #74B27D; position: relative; 
	.details { 
		padding: 30px;
		width: 30%;
		img { width: 100px; }
		h4 { color: #FFFFFF;   font-size: 15px; line-height: 1.3;}
	}
	.social {
	 position: absolute; right: 20px; top: 33px;
	 img { width: 50px;}

	}
	
}
.pentagon-array {
	display: inline-block; position: relative; top: 35px;
	.pentagon { 
		float: left; margin: 20px; width: 205px;
		a {
			float: left; width: 200px; height: 200px; overflow: hidden; display: block; position: relative;
			.mask { background: url('../images/pentagon_mask-green.png') no-repeat; width: 300px; height: 300px; position: absolute; top: -50px;  left: -50px; z-index: 2;  @include transition(300ms ease-out);}
			img { position: absolute; left: -75px; top: 0; @include filter(grayscale(100%)); @include transition(300ms ease-out);}
			.mask:hover { @include transform(rotate(30deg));}
			.mask:hover ~img{ @include filter(grayscale(0%)); left: -50px;}
		}
		h4 {   color: #FFFFFF; font-size: 18px; position: relative; top: 25px; }
	}
}
