/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "compass/reset";
*/

$font-stack: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
$border-color: #EAEAEA;
$black: #363636;
$grey: #E1DEDE;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin animation($str) {
	-webkit-animation: $str;
	-moz-animation: $str;
	-ms-animation: $str;
	-o-animation: $str;
	animation: $str;
}

@mixin transition($str) {
	-webkit-transition: $str;
	-moz-transition: $str;
	-ms-transition: $str;
	-o-transition: $str;
	transition: $str;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes blink{
  to{opacity: .0;}
}



body {
	font-family: $font-stack;
	overflow-x:hidden;
	margin:0;
	background: #333E4D;
}


.container {
	width: 100%;
	max-width: 100%;
	text-align:center;
	left: 0px; @include transition(.6s ease-out);
}

.sidebar { 
	z-index: 10; height: 100%; width: 250px; font-size: 5em; position: fixed; background: #48A6A1; top: 0; left: -350px; 
	@include transition(.3s ease-out); text-align:center; color:#FFFFFF; padding:0em .4em;

	h5 { margin-top: 4em;}
	h6 { font-weight: bold; display: inline;}
	img { width: 20px;}
	.field {
		 width: 100%; line-height: 0 !important;
		 a { text-decoration: none; color: #FFFFFF;}
		 a:hover { text-decoration: underline dotted;}
	}
	.accounts a { background: #FFFFFF; display: inline-block; padding: 5px; height: 30px; width: 30px; @include border-radius(50%);}
}



.trigger { 
	z-index: 11; left: 2em; top: 2em; height: 50px; width: 50px; position: absolute; background: #333E4D url("../images/LOGO_W.png") no-repeat center; @include transition(.5s ease-out); background-size: 30px 30px; @include border-radius(50%); margin-left: 0; cursor: pointer;}
.trigger:hover { background: #333E4D url("../images/LOGO_W.png") no-repeat center;  background-size: 30px 30px;}


.push { left:0px;}
.push-cont { left: 160px; width: calc(100% - 160px);}

.push-trig { position: fixed; margin-left: 95px; background:  #48A6A1 url("../images/LOGO_W.png") no-repeat center !important;  background-size: 30px 30px  !important; cursor: default; }

.wrapp { display:none; z-index: 20; height: 100vh; width: 90vw; position: fixed; left: 311px; width: calc(100vw - 325px); top: 0px; color:#FFFFFF !important; opacity:0;}

@media screen and(max-width: 800px){

	.sidebar { 
		position:relative; width:100%; padding:.8em 0em; left:0px; top:0px; display:none;
		h5 { margin-top: 1em;}
	}
	.push { display:block;}
	.push-cont { left:0px; width:80%;}
	.wrapp { position:absolute !important; content:'X'; height:30px; width:30px; font-weight: bolder; font-size: 1.2em;  top: 340px; cursor:pointer;  opacity:1; padding:.5em; @include border-radius(50%); display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 16px;
  background: #FFFFFF;
  color: #7B7B7B !important;
  text-align: center;
 	line-height: 1.7;}
	.wrapp:hover { background:#FFFFFF;}
	.push-trig { position:absolute;   left: 0; right: 0;  margin: 0 auto; }
}

@media screen and(max-width: 800px){
	.cont-img { width: 40%;}
}


.header {
	padding-top:10em;
	height: 100vh;
	background: #333E4D;
	position:relative;
	color: #FFFFFF;
	img {
		width: 10em; height: auto; margin-top: 1em;
		@include border-radius(50%);
	}
	.scroll-down {
		margin-top: 3em;
	}
	.typed { display: inline-block; width: 12em; overflow: hidden; white-space: nowrap; @include animation(type 5s);}
	.blink { @include animation(blink 1s infinite); vertical-align:top;}
}

.content { width: 80%; margin: 0 auto;}
.quote { 
	border-top: 1px solid $border-color;
	padding: 5em 0em;
	background: #FFFFFF;
}


.about { background: #EEEFE5; text-align: left; border-top: 1px solid $border-color; padding: 5em 0em;}
.skills { background: #FFFFFF; text-align: left;  border-top: 1px solid $border-color; padding: 5em 0em;}

.tags {
	 margin-top: 2em;
	 span {
	 	background: #DE5C53; color:#FFFFFF; @include border-radius(3px); padding: 1px 8px; margin-right: 5px; margin-top: 10px; display: inline-block;
	 }
}

.projects {
	 border-top: 1px solid $border-color; padding: 5em 0em; background: #EEEFE5;
	 .columns { 
	   background-color: white;
 	   padding: 0px 25px 30px 25px;
 	     margin-bottom: 2em;
 	       font-size: .9em;
	}
	 h2 {
	 	margin-bottom: 1em;
	 }
	 img { 
	 	 margin-top: 2em;
	 	 margin-bottom: 2em;
	 }
}

footer {
	background: #333E4D;
	text-align: center; color: #FFFFFF;
	padding: 2em;
	position: relative;

		h5 {
		 font-size: 1em; padding-top: 1em; line-height: 1; letter-spacing: inherit;
		}

		.contacts img { 
			  width: 20px; padding: 10px 10px;  background-color: #1D2938;
		}
	
	
}
