/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 51, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 53, ../sass/screen.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* line 55, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 57, ../sass/screen.scss */
.nav {
  width: calc(100% - 40px);
  padding: 20px;
  text-align: center;
  position: absolute;
  /*background: rgba(255,255,255,.1);
  */
  color: #FFFFFF;
}
/* line 65, ../sass/screen.scss */
.nav li {
  display: inline;
  padding: 6px 15px;
  margin: 0px 11px;
  background: #5E9666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #5B9062;
}

@media screen and (max-width: 800px) {
  /* line 68, ../sass/screen.scss */
  .nav {
    position: static;
    background: #5E9666;
  }
  /* line 70, ../sass/screen.scss */
  .nav li {
    display: block;
    width: 200px;
    margin: 5px auto;
  }
  /* line 71, ../sass/screen.scss */
  .nav .top-side-logo {
    float: none !important;
  }
}
/* line 74, ../sass/screen.scss */
.hero {
  height: 100vh;
  width: 100%;
  background: #6AA372;
  background-size: 100% auto;
  text-align: center;
}
/* line 76, ../sass/screen.scss */
.hero .content {
  padding-top: 100px;
}
/* line 78, ../sass/screen.scss */
.hero .content h3 {
  color: #FFFFFF;
  font-size: 25px;
  padding: 50px 0px;
}
/* line 79, ../sass/screen.scss */
.hero .content .down-arrow {
  display: block;
  margin: 0 auto;
  padding: 30px 0px;
  width: 100px;
}
/* line 81, ../sass/screen.scss */
.hero .left-links {
  display: none;
  float: left;
  background: transparent;
  position: absolute;
  top: 200px;
  left: 20px;
}
/* line 84, ../sass/screen.scss */
.hero .left-links a {
  display: block;
  background: rgba(113, 219, 192, 0.2);
  color: #FFFFFF;
  padding: 20px;
  margin: 5px;
  border: 1px dotted #55aa94;
}

/* line 88, ../sass/screen.scss */
.news-feed {
  display: none;
  height: 80px;
  background: #465A50;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
}
/* line 95, ../sass/screen.scss */
.news-feed ul {
  -webkit-animation: animatednews 8s linear infinite;
  -moz-animation: animatednews 8s linear infinite;
  -ms-animation: animatednews 8s linear infinite;
  -o-animation: animatednews 8s linear infinite;
  animation: animatednews 8s linear infinite;
}
/* line 97, ../sass/screen.scss */
.news-feed ul li {
  margin: 100px 0px;
  color: #FFFFFF;
  font-weight: bold;
}

/* line 101, ../sass/screen.scss */
.proshow {
  background: #FFFFFF;
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 70px;
}
/* line 104, ../sass/screen.scss */
.proshow h3 {
  font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  padding-top: 100px;
}
/* line 106, ../sass/screen.scss */
.proshow img {
  width: 300px;
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 7px;
}
/* line 107, ../sass/screen.scss */
.proshow .description {
  display: inline-block;
  text-align: left;
  width: 50%;
  vertical-align: top;
  margin: 100px 50px 50px 50px;
}
/* line 109, ../sass/screen.scss */
.proshow .description h4 {
  font-size: 24px;
  padding: 20px 0px;
}
/* line 110, ../sass/screen.scss */
.proshow .description h6 {
  line-height: 1.5;
  color: #545454;
}

/* line 114, ../sass/screen.scss */
.gallery {
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 56px;
  line-height: 1.14286;
  letter-spacing: -0.005em;
  word-spacing: -0.005em;
  font-weight: 700;
  background: #6AA372;
  text-align: center;
  padding-bottom: 100px;
  color: #FFFFFF;
}
/* line 127, ../sass/screen.scss */
.gallery h3 {
  font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #FFFFFF;
  padding-top: 100px;
}
/* line 129, ../sass/screen.scss */
.gallery .grid {
  margin-top: 100px;
}
/* line 132, ../sass/screen.scss */
.gallery .grid .column {
  width: calc(25% - 20px);
  padding: 10px;
  float: left;
  position: relative;
}
/* line 134, ../sass/screen.scss */
.gallery .grid .column .cnt {
  background: #F2F2F0;
  width: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 250px;
  margin: 0 auto;
}
/* line 135, ../sass/screen.scss */
.gallery .grid .column .overlay {
  display: none;
  position: absolute;
  width: 100%;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 10;
  text-align: center;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

@media screen and (max-width: 900px) {
  /* line 142, ../sass/screen.scss */
  .gallery .grid .column {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 700px) {
  /* line 147, ../sass/screen.scss */
  .gallery .grid .column {
    width: calc(100% - 20px);
  }
}
/* line 150, ../sass/screen.scss */
.contact-us {
  background: #FFFFFF;
  width: 100%;
  text-align: center;
}
/* line 154, ../sass/screen.scss */
.contact-us h1 {
  font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2B2B2B;
  padding-top: 100px;
}
/* line 155, ../sass/screen.scss */
.contact-us h5 {
  color: #2B2B2B;
}
/* line 156, ../sass/screen.scss */
.contact-us img {
  height: 400px;
  margin-top: 40px;
  box-shadow: 0px 0px 1px #969292;
}

@media screen and (max-width: 1000px) {
  /* line 159, ../sass/screen.scss */
  .grid .columns {
    width: 50% !important;
  }

  /* line 160, ../sass/screen.scss */
  .contact-us img {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 163, ../sass/screen.scss */
  .grid .columns {
    width: 100% !important;
  }
}
@-webkit-keyframes animatednews {
  from {
    margin-top: -50px;
  }
  to {
    margin-top: -500px;
  }
}
@media screen and (max-width: 500px) {
  /* line 173, ../sass/screen.scss */
  .hero .logo {
    width: 70%;
  }
  /* line 174, ../sass/screen.scss */
  .hero .down-arrow {
    width: 20%;
  }
}
@media screen and (max-width: 400px) {
  /* line 179, ../sass/screen.scss */
  .proshow h3, .gallery h3, .contact-us h1 {
    font-size: 60px;
  }

  /* line 180, ../sass/screen.scss */
  .social a {
    display: block;
  }
}
/* line 183, ../sass/screen.scss */
footer {
  width: 100%;
  background: #74B27D;
  position: relative;
}
/* line 185, ../sass/screen.scss */
footer .details {
  padding: 30px;
  width: 30%;
}
/* line 188, ../sass/screen.scss */
footer .details img {
  width: 100px;
}
/* line 189, ../sass/screen.scss */
footer .details h4 {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1.3;
}
/* line 191, ../sass/screen.scss */
footer .social {
  position: absolute;
  right: 20px;
  top: 33px;
}
/* line 193, ../sass/screen.scss */
footer .social img {
  width: 50px;
}

/* line 198, ../sass/screen.scss */
.pentagon-array {
  display: inline-block;
  position: relative;
  top: 35px;
}
/* line 200, ../sass/screen.scss */
.pentagon-array .pentagon {
  float: left;
  margin: 20px;
  width: 205px;
}
/* line 202, ../sass/screen.scss */
.pentagon-array .pentagon a {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  position: relative;
}
/* line 204, ../sass/screen.scss */
.pentagon-array .pentagon a .mask {
  background: url("../images/pentagon_mask-green.png") no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 2;
  -webkit-transition: 300ms ease-out;
  -moz-transition: 300ms ease-out;
  -ms-transition: 300ms ease-out;
  -o-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
/* line 205, ../sass/screen.scss */
.pentagon-array .pentagon a img {
  position: absolute;
  left: -75px;
  top: 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 300ms ease-out;
  -moz-transition: 300ms ease-out;
  -ms-transition: 300ms ease-out;
  -o-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
/* line 206, ../sass/screen.scss */
.pentagon-array .pentagon a .mask:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 207, ../sass/screen.scss */
.pentagon-array .pentagon a .mask:hover ~ img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  left: -50px;
}
/* line 209, ../sass/screen.scss */
.pentagon-array .pentagon h4 {
  color: #FFFFFF;
  font-size: 18px;
  position: relative;
  top: 25px;
}
