/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 34, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 36, ../sass/screen.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 38, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 39, ../sass/screen.scss */
.button, .tools .icons .login-button, .product-box .box-overlay a {
  border: 1px dotted #288DE1;
  padding: 10px 10px;
  color: #288DE1;
  text-decoration: none;
  background: rgba 255, 255, 255, 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 40, ../sass/screen.scss */
.header {
  display: none;
  background: #324154;
  padding: 8px;
}
/* line 42, ../sass/screen.scss */
.header .sell_button {
  float: left;
  margin-left: 10%;
}
/* line 43, ../sass/screen.scss */
.header .links {
  float: right;
  margin-right: 10%;
}

/* line 47, ../sass/screen.scss */
.tools {
  text-align: center;
  position: relative;
  height: 75px;
}
/* line 49, ../sass/screen.scss */
.tools .search_bar {
  position: absolute;
  left: 5%;
  text-align: left;
  top: 13px;
  border: 1px solid #E0EAF5;
}
/* line 55, ../sass/screen.scss */
.tools .search_bar input {
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width: 200px;
  padding: 5px 10px;
  color: #525252;
  border: 1px solid #FFFFFF;
  margin: 0;
  outline: 0;
}
/* line 66, ../sass/screen.scss */
.tools .search_bar .query-icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 31px;
  line-height: 34px;
  text-align: center;
  background: url("../images/view.png") no-repeat center;
  background-size: 60%;
}
/* line 80, ../sass/screen.scss */
.tools .icons {
  position: absolute;
  right: 10%;
}
/* line 82, ../sass/screen.scss */
.tools .icons img {
  width: 25px;
  padding: 20px 30px 20px 0px;
}
/* line 83, ../sass/screen.scss */
.tools .icons .cart {
  display: inline-block;
  vertical-align: top;
  margin: 21px 20px 0px 20px;
  cursor: pointer;
}
/* line 85, ../sass/screen.scss */
.tools .icons .cart .cart-ico {
  background: url("../images/cart.png") no-repeat;
  width: 22px;
  height: 30px;
  background-size: 100%;
}
/* line 87, ../sass/screen.scss */
.tools .icons .cart .cart-ico .bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  background: rgba(233, 66, 66, 0.9);
  color: #FFFFFF;
  font-size: 12px;
  padding: 4px;
  height: 10px;
  width: 10px;
  left: 12px;
  top: -8px;
}
/* line 89, ../sass/screen.scss */
.tools .icons .cart .mini-cart {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  margin-left: -140px;
  width: 300px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/* line 92, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li {
  text-align: left;
  background: #FFFFFF;
  margin: 0;
  padding: 10px 20px 5px 20px;
  cursor: pointer;
}
/* line 94, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li .product-image {
  width: auto;
  height: 75px;
  margin-right: 10px;
  display: inline-block;
  padding: 5px;
  background: #FFFFFF;
}
/* line 95, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li .product-details {
  display: inline-block;
  vertical-align: top;
  width: 165px;
}
/* line 97, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li .product-details .mini-name {
  padding-top: 8px;
  font-size: 13px;
}
/* line 98, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li .product-details .mini-price {
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 99, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li .product-details .mini-quantity {
  opacity: .7;
  font-size: 12px;
}
/* line 101, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li .minicart-remove {
  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
  border: 1px solid #dddddd;
  padding: 0px 5px 2px 5px;
  color: #7D7D7D;
  background: transparent;
}
/* line 102, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li .minicart-remove:hover {
  background: #E94242;
  color: #FFFFFF;
  border-color: #E94242;
}
/* line 104, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-cnt li:hover {
  background: #F8F8F8;
}
/* line 106, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-total {
  text-align: center;
  padding: 20px 0px 10px 0px;
  color: #3B3B3B;
}
/* line 108, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-actions a {
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding: 15px;
  text-transform: uppercase;
  font-size: .9rem;
  width: 178px;
  margin: 10px auto;
}
/* line 109, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-actions .mini-view-cart {
  background: #E94242;
}
/* line 110, ../sass/screen.scss */
.tools .icons .cart .mini-cart .mini-cart-actions .mini-checkout {
  background: #288de1;
}
/* line 115, ../sass/screen.scss */
.tools .icons .cart:hover .mini-cart {
  visibility: visible;
  opacity: 1;
  margin-top: 12px;
}
/* line 117, ../sass/screen.scss */
.tools .icons .login-button {
  position: relative;
  top: 27px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 13px;
}
/* line 118, ../sass/screen.scss */
.tools .icons .login-button:hover {
  background: #288de1;
  color: #FFFFFF;
}
/* line 120, ../sass/screen.scss */
.tools .logo {
  width: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 0px;
}

@media screen and (max-width: 700px) {
  /* line 129, ../sass/screen.scss */
  .tools {
    height: 170px;
    margin-top: 20px;
  }
  /* line 131, ../sass/screen.scss */
  .tools .search_bar {
    position: static !important;
    width: 200px;
    margin: 0 auto;
  }
  /* line 132, ../sass/screen.scss */
  .tools .search_bar input {
    width: auto;
  }
  /* line 133, ../sass/screen.scss */
  .tools .search_bar .query-icon {
    position: static;
    display: inline-block;
    margin-left: -32px;
    margin-bottom: -9px;
  }
  /* line 135, ../sass/screen.scss */
  .tools .logo {
    position: static;
  }
  /* line 136, ../sass/screen.scss */
  .tools .icons {
    position: static;
    margin-left: -3px;
  }
}
@media screen and (max-width: 450px) {
  /* line 142, ../sass/screen.scss */
  .mini-cart {
    display: none;
  }
}
/* line 144, ../sass/screen.scss */
.navbar {
  text-align: center;
  position: relative;
}
/* line 146, ../sass/screen.scss */
.navbar .categories {
  list-style: none;
  padding: 10px;
}
/* line 147, ../sass/screen.scss */
.navbar .categories li {
  display: inline;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  color: #4C6684;
  cursor: pointer;
}
/* line 148, ../sass/screen.scss */
.navbar .categories li .triangle {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.2s;
  -moz-transition: visibility 0s linear 0.2s;
  -ms-transition: visibility 0s linear 0.2s;
  -o-transition: visibility 0s linear 0.2s;
  transition: visibility 0s linear 0.2s;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: relative;
  width: 20px;
  top: 13px;
  overflow: hidden;
}
/* line 149, ../sass/screen.scss */
.navbar .categories li ul {
  cursor: default;
  position: absolute;
  background: #E9EAEC;
  width: 100%;
  left: 0;
  margin-top: 10px;
  padding: 20px 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.5s;
  -moz-transition: visibility 0s linear 0.5s;
  -ms-transition: visibility 0s linear 0.5s;
  -o-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 150, ../sass/screen.scss */
.navbar .categories li:hover ul {
  visibility: visible;
  opacity: 1;
}
/* line 151, ../sass/screen.scss */
.navbar .categories li:hover .triangle {
  visibility: visible;
  opacity: 1;
}

/* line 154, ../sass/screen.scss */
.navbar-mobile {
  display: none;
  text-align: left;
}
/* line 157, ../sass/screen.scss */
.navbar-mobile .categories {
  background: #FFFFFF;
  padding: 40px 10px;
}
/* line 159, ../sass/screen.scss */
.navbar-mobile .categories .sub-categories {
  float: left;
  width: 25%;
  font-size: 18px;
  color: #4C6684;
  height: 150px;
}
/* line 161, ../sass/screen.scss */
.navbar-mobile .categories .sub-categories ul {
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
}
/* line 163, ../sass/screen.scss */
.navbar-mobile .categories .sub-categories ul li {
  padding: 5px 0px;
}

@media screen and (max-width: 900px) {
  /* line 170, ../sass/screen.scss */
  .navbar {
    display: none;
  }

  /* line 171, ../sass/screen.scss */
  .navbar-mobile {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  /* line 175, ../sass/screen.scss */
  .navbar-mobile .sub-categories {
    width: 33.33% !important;
  }
}
@media screen and (max-width: 500px) {
  /* line 180, ../sass/screen.scss */
  .navbar-mobile .sub-categories {
    width: 50% !important;
  }
}
@media screen and (max-width: 350px) {
  /* line 185, ../sass/screen.scss */
  .navbar-mobile .sub-categories {
    width: 100% !important;
  }
}
/* line 191, ../sass/screen.scss */
.banner {
  height: 300px;
  width: 100%;
  background: url("../images/banner2.jpg") center;
}

/* line 193, ../sass/screen.scss */
.products-header {
  padding: 50px 80px;
  font-size: 30px;
  font-weight: bold;
  color: #324154;
}

/* line 195, ../sass/screen.scss */
.products {
  background: #FCFCFC;
  padding: 20px 0px;
}

/* line 199, ../sass/screen.scss */
.product-box {
  position: relative;
  float: left;
  width: 20%;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
  color: #324154;
  cursor: pointer;
}
/* line 208, ../sass/screen.scss */
.product-box img {
  width: 90%;
}
/* line 209, ../sass/screen.scss */
.product-box .tag {
  padding: 15px 0px;
  line-height: 1.3;
  margin: 0 auto;
  background: #FFFFFF;
  width: 90%;
  margin-top: -3px;
}
/* line 211, ../sass/screen.scss */
.product-box .tag h5 {
  font-weight: bold;
}
/* line 213, ../sass/screen.scss */
.product-box .box-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: calc(100% - 60px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.5s;
  -moz-transition: visibility 0s linear 0.5s;
  -ms-transition: visibility 0s linear 0.5s;
  -o-transition: visibility 0s linear 0.5s;
  transition: visibility 0s linear 0.5s;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  box-sizing: border-box;
  padding: 85px 40px;
}
/* line 227, ../sass/screen.scss */
.product-box .box-overlay img {
  width: 30px;
}
/* line 228, ../sass/screen.scss */
.product-box .box-overlay a {
  display: block;
  margin: 25px 0px;
}
/* line 229, ../sass/screen.scss */
.product-box .box-overlay a:hover {
  background: #288de1;
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  /* line 235, ../sass/screen.scss */
  .product-box {
    width: 25%;
  }
}
@media screen and (max-width: 900px) {
  /* line 240, ../sass/screen.scss */
  .product-box {
    width: 33.3333%;
  }
}
@media screen and (max-width: 600px) {
  /* line 246, ../sass/screen.scss */
  .product-box {
    width: 50%;
  }
}
@media screen and (max-width: 300px) {
  /* line 251, ../sass/screen.scss */
  .product-box {
    width: 100%;
  }
}
/* line 255, ../sass/screen.scss */
.product-box:hover .box-overlay {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
